{% extends "layout.html" %}
{% block content %}
    <h1>Best Bet</h1>
    <form method="post" action="{{ url_for('processMethod') }}">
        Select Sport: 
        <select>
                <option value="nfl" disabled="disabled">NFL</option>
                <option value="nba" >NBA</option>
                <option value="ncaaf" disabled="disabled">College Football</option>
                <option value="ncaab" disabled="disabled">College Basketball</option>

        </select>

        <p><label>Interval (1Q, 2Q, H, 3Q, 4Q):</label> <input type="text" name="Interval" required></p>
        <p><label>Kelly Criterion (0-100):</label> <input type="text"  name="kelly"</p>
        <p><label>Bookmaker Bankroll:</label> <input type="text"  name="bkbr"</p>
        <p><label>5 Dimes Bankroll:</label> <input type="text"  name="dimesbr"</p>


        <p><button type="submit">Process</button></p>
    </form>
{% endblock %}
