{% extends "layout.html" %}
{% block content %}
    <h1>Best Bet</h1>
	{% if error %}
    <p class=error><strong><font color='red'> Error: {{ error }}</font> </strong>
  	{% endif %}
    <form method="post" action="{{ url_for('hello') }}">
<table>
<tr>
<td align='right'>
        <label>Select Sport</label></td><td align='left'> 
        <select name="sport">
                <option value="nfl" disabled="disabled">NFL</option>
                <option value="nba" disabled="disabled">NBA</option>
                <option value="ncaaf" disabled="disabled">College Football</option>
                <option value="ncaab">College Basketball</option>

        </select></td></tr>

        <tr><td align='right'><label>Interval (1Q, 2Q, H, 3Q, 4Q)</label></td><td align ='left'><input type="text" name="Interval" required></td></tr>
        <tr><td align='right'><label>Kelly Criterion (0-100)</label></td><td align='left'> <input type="text"  name="kelly"></td></tr>
        <tr><td align='right'><label>Bookmaker Bankroll</label></td><td align='left'> <input type="text"  name="bkbr"></td></tr>
        <tr><td align='right'><label>5 Dimes Bankroll</label></td><td align='left'><input type="text"  name="dimesbr"></td></tr>


        <tr><td></td><td align='right'><button type="submit">Process</button></td></tr>
    </form>
</table>
{% endblock %}
